<!doctype html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Routing Console</title>
    <style>
google-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
    .left-panel {
      position: absolute;
      left: 0;
      width: 20%;
      top: 0;
      bottom: 0;
      overflow: scroll;
    }
    .right-panel {
      position: absolute;
      left: 20%;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .selected {
      background-color: #CCC;
    }
    </style>
</head>
<body>

  <div class="left-panel">
    <button @click="refresh">
      Refresh
    </button>
    <ul>
      <li v-for="route in routes" @click="selectRoute(route)"
        :class="{selected: selectedRoute == route}">
        {{ route.totalCount }} --
        {{ route.stops[0].description }} to
        {{ route.stops[route.stops.length - 1].description }}
      </li>
    </ul>

  </div>

  <div class="right-panel">
    <google-map :center="{lat:1.38, lng:103.8}" :zoom="12">
      <route-suggestion v-for="route in routes"
                        :selected="selectedRoute == route"
                        :route="route"></route-suggestion>
    </google-map>
  </div>

</body>
</html>
